/*==========REST & BASE =======*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} 

body { 
    background-color: #f5f8fa;
    color: #333;
    line-height: 1.4;
} 

/* ==== TOP NAV =====*/ 
.site-header { 
    background: #ffff;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 20px;
} 

.top-nav { 
    display:flex;
    align-items: center;
    justify-content: space-between;
} 

.top-nav a { 
    text-decoration: None;
    color: #333;
    font-size: 14px;
    margin-right: 20px;

} 


@media (max-width: 768px) { 
    /* Prevent sideways scrolling anywhere */ 

    body, html { 
        overflow-x: hidden;
        width: 100%;
    } 

    @media (max-width: 768px) {

  /* Make all large sections stack */
  .bio-contact-section,
  .recent-sales,
  .filter-sort,
  .for-sale-section,
  .nearby-grid {
     display: block !important;
     width: 100%;
  }

  /* Bio & Contact stack vertically */
  .bio-left,
  .contact-right {
     width: 100% !important;
     margin-bottom: 20px;
  }

  /* Fix headings */
  h1, h2, h3 {
     font-size: 22px;
     line-height: 1.3;
  }

  /* Property cards shrink */
  img {
     width: 100px !important;
     height: auto;
  }

  /* Table fix */
  .for-sale-table th,
  .for-sale-table td {
     font-size: 14px;
     padding: 1px;
     white-space: nowrap;
  }

  /* Recent sales cards fit mobile */
  .sales-card {
     min-width: 200px !important;
     flex-direction: column;
     width: 100%;
     
  } 
  .sale-card { 
    width: 100%;
    max-width: 100%;
  }

  /* Footer text smaller */
  footer {
     font-size: 13px;
     text-align: left;
  }

  /* Navbar mobile fix */
  .nav-container {
      display: block;
      text-align: center;
  } 

  .agent-top { 
    display: flex;
    gap: 20px;
  }  

  @media  (max-width: 760px) { 
    .agent-top { 
        flex-direction: column;
        align-items: center;
        width: 100%;
    } 
  } 
  .agent-profile { 
    width: 100%;
    text-align: center;
  }
    
  }

}



    

/*page-main*/

.page-main { 
    padding: 20px;
    
}

.hero-grid { 
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    padding: 20px;
    border-radius:  10px;

}  
.report { 
    text-align: right;
    color: #777;
}
.location { 
    text-align: left;
    color: #777;
}

/* MAIN FLEX LAYOUT*/
.agent-top { 
    display: flex;
    gap: 40px;
    padding: 25px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin: 30px;
} 


/*Left profile column*/ 
.agent-profile { 
    width: 280px;
    text-align: center;
}  
.agent-photo { 
    width: 200px;
    height: 200px;
    border-radius: 100%;
} 
.agent-profile h2 { 
    margin: 10px 0 5px;
}
.office { 
    color: #666;
    font-size: 14px;
} 
.rating-line { 
    margin-top: 10px;
} 
.rating-line a { 
    color: #0074e8;
} 

/*MIDDLE: RECENT SALES */

.recent-sales { 
    flex: 1;
} 
.sales-cards { 
    display: flex;
    gap: 15px;
} 
.sale-card { 
    flex: 1;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
} 
.sale-card img { 
    width: 100%;
    border-radius: 8px;
    
}
.price { 
    font-weight: bold;
    margin-top: 10px;
} 
.sold { 
    color: #777;
    font-size: 13px;
    margin-top: 5px;
} 
.tag { 
   position: absolute;
   top: 10px;
   left: 10px;
   background: #000000aa;
   color: #fff;
   padding: 5px 10px;
   font-size: 14px;
   border-radius: 4px;
   font-weight: 600;
}
.stats-row { 
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
    margin: 15px 0 0 0;
    padding: 0 10px;
} 

.stat-box { 
    text-align: center;
    flex: 1;
} 

.stat-box h3 { 
    margin: 0;
    font-size: 22px;
    color: #222;
    font-weight: 600;
} 
.stat-box p { 
    margin-top: 5px;
    font-size: 13px;
    color: #666;
}

/*Container holding bio + specialties + website */
.bio-contact-section { 
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.bio-left { 
    width: 55%;
    background: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
} 

/* Bio text collapsed */ 
.bio-text p { 
    max-height: 140px;
    overflow: hidden;
    line-height: 1.5;
} 
.full-text { 
    display: none;
}
#show-more-btn { 
    background: none;
    color: #006aff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
} 

.show-more-btn:hover { 
    text-decoration: underline;
}

/* Specialties pills */
.specialties { 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
} 
.pill { 
    background: #f2f2f2;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 14px;
}
/*Experience */ 
.experience { 
    margin-top: 10px;
    color: #555;
} 

/*website + socail icons */ 
.website-socail { 
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #0053cf;
}
.socail-icons img { 
    width: 35px;
    height: 35px;
} 

/*RIGHT SIDE */ 

.contact-right { 
    flex: 1;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
} 

/*Form*/ 

.contact-right input,
.contact-right textarea { 
    width:100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #dad9d9; 

    
} 

.contact-btn { 
    width: 100%;
    padding: 12px;
    background: #006aff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}  

.contact-btn:hover { 
    background: #0053cf;
}  

.terms { 
    font-size: 12px;
    color: #555;
    margin-top: 10px;
} 




/*=======Showcase Box =====*/ 
.showcase-box { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 35px;
    gap: 15px;
}  
.showcase-text { 
    flex: 2;
}
.showcase-text h3 { 
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;

} 
.showcase-text p { 
    font-size: 15px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 12px;
} 

/*Blue CTA Button */ 
.showcase-btn { 
    display: inline-block;
    background: #0a7bdc;
    color: #fff;
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 700;
    text-decoration: none;
    font-weight: bold;
} 
.showcase-btn:hover { 
    opacity: 0.93;
    background: bold;
} 
/* Image on right */ 
.showcase-images { 
    flex: 1.5;
    display: flex;
    gap: 15px;
}  

.showcase-images img { 
    width: 100%;
    max-width: 110px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
} 

    
/*map-section*/

.map-section { 
    margin-top: 40px;
    border-radius: 15px;
}

.map-title { 
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color:#222;
}  

.map-container { 
    width: 100%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
} 

.map-container iframe { 
    width: 100%;
    height: 100%;
    border: none;
}
.map-note { 
    margin-bottom: 10px;
    color: #666;
}

.for-sale-section { 
    margin-top: 20px;
    padding: 20px;
}

.for-sale-table { 
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}
.for-sale-section h3 { 
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.for-sale-table th { 
    text-align: left;
    color: #444;
    padding: 12px 0;
    border-bottom: 2px solid #444;
    font-weight: 600;

}

.for-sale-table td { 
    padding: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;

}
.for-sale-section th,
.sale-section td { 
   padding: 15px 0;
   border-top: 1px solid #eee;

} 
/* Center Bed/Bath column*/ 
.for-sale-section td:nth-child(2),
.for-sale-section th:nth-child(2) { 
    text-align: center;
}
/* Align Listing Price to the right */
.for-sale-section td:nth-child(3)
.for-sale-section th:nth-child(3) { 
    text-align: right;
} 

.property-cell { 
    display: flex;
    align-items: center;
    gap: 12px;
} 
.property-cell img { 
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 6px;
} 
.property-cell title { 
    font-weight: 600;
    color: #222;
}
.center { 
    text-align: center;
    color: #333;
}  
.addr-title { 
    font-weight: 600;
    color: #222;
}

.addr-link { 
    color: #006aff;
    text-decoration: underline;
    font-weight: 600;
    font-size: 15px;
}  
.addr-city { 
    color: #006aff;
    text-decoration: underline;
    font-weight: 600;
    font-size: 15px;
}  
.addr-link:hover { 
    color: #004fcc;
}
.addr-link:hover { 
    color: #004fcc; 
}


#see-more-btn { 
    background-color: #006aff;
    
} 

.show-more { 
    padding: 1opx;
}




/* ========= Reviews Section ======*/

.write-review-section { 
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 10px;
}  
/* FORM title */
.write-title { 
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*Rating section */ 
.rating-block label,
.write-box label { 
    font-size: 14px;
    font-weight: 600;
    color: #444;    
}

.stars { 
    margin-top: 8px;
    font-size: 26px;
    color: #f4b400;
    cursor: pointer;
} 
.rating-stars { 
    font-size: 32px;
    color: #d3d3d3;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    gap: 6px;
    margin-top: 8px;
} 

.rating-stars span { 
    transition: color 0.2s ease;
} 
.rating-stars span.hovered,
.rating-stars span.selected { 
    color: #006aff;

}


/* Review text box */ 

.review-text { 
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    background: #fafafa;
    resize: vertical;
} 

/*Submit Button */
.submit-review-btn { 
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background: #006aff;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
} 

.submit-review-btn:hover { 
    background: #0051d4;
} 

/* REVIEW LIST WRAPPER */ 
.review-list { 
    margin-top: none;
    padding: 0 5px;
} 

/* SINGLE REVIEW CARD */
.review-card { 
    padding: 20px 0;
    margin-top: 15px;
} 

/* MAIN TITLE */ 
.review-title { 
    font-size: 18px;
    font-weight: 600;
    color: #222;
    margin-bottom: 5px;
} 
.rating-num { 
    color: #006aff;
    font-weight: 700;
}
 /* META INFO */
.review-meta { 
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.4;
    color:#666;
} 
/* RATING LINES */ 
.rating-catergories p { 
    margin: 6px 0;
    font-size: 14px;
    color: #006Aff;
    font-weight: 600;
} 

/*Review text */ 
.review-catergorise span { 
    margin-left: 8px;
    font-weight: 500;
    color: #444;
    
} 

.review-card br { 
    margin-bottom: 10px;
}

/*REVIEW TEXT*/
.review-body { 
    margin-top: none;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    padding-right: 5px;
} 

.full.text { 
    display: none;

}  



.see-more-btn { 
    background: none;
    border: none;
    color: #006aff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}  

.see-more-btn:hover { 
    text-decoration: underline;
}



/*=============SERVICE AREAS (8) SECTION=======*/
.service-areas { 
    margin-top: 35px;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
} 
.service-areas h3 { 
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
} 
.service-columns { 
    display: flex;
    gap: 70px;
} 
.service-columns ul { 
    list-style: none;
    padding:0;
    margin:0;
} 
.service-columns li { 
    margin-bottom: 8px;
    font-size: 15px;
    color: #2b2a2a44;
} 
.service-columns li:hover { 
    text-decoration: underline;
    cursor: pointer;
} 

.agent-mini-profile { 
    margin-top: 35px;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;

} 

/* Top section: photo + name */
.agent-header { 
    display: flex;
    align-items: 85px;
    gap: 18px;
}

.agent-photo { 
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
} 

.agent-info h3 { 
    font-size: 20px;
    font-weight: 700;
} 
.agent-info .agency { 
    margin: 5px 0;
    color: #555;
    font-size: 15px;
} 

.agent-info .rating { 
    color: #0a7bdc
} 

/* Stats Grid */ 
.agent-stats { 
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6px;
    color:#333;
    font-size: 15px;
} 

/*Contact Info */ 
.agent-contact { 
    margin-top: 20px;
    font-size: 15px;
    color: #1a1a1a;
    line-height: 1.6;
} 
.agent-contact .phone,
.agent-contact .email,
.agent-contact .address { 
    margin-bottom: 8px;
} 
/*Icons blue */ 
.agent-contact p { 
    color: #0a7bdc;
}


/* ======== NEARBY CITIES SECTION =======*/

.nearby-grid { 
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 40px;
   padding: 40px 20px;
   background: #fafafa;
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
}



.location-column h3 { 
    font-size: 20px;
    margin-bottom: 12px;
    color: #2e2e2e;
}   
.location-column ul { 
    list-style: none;
    padding: 0;
    margin: 0;
} 
.location-column li { 
    margin-bottom: 8px;
    color: #444;
    cursor: pointer;
} 
.location-column li:hover { 
    text-decoration: underline;
    color: #006aff;
}
.location-column { 
    text-decoration: underline;
    color: #006aff;
} 
.show-more { 
    margin-top: 8px; 
    background: none;
    border: none;
    color: #0074e8;
    cursor: pointer;
    font-weight: 600;
} 
.hidden-item { 
    display: none;
}
/* Mobile responsive */
@media (max-width: 850px) { 
.location-links { 
    grid-template-columns: 1fr 1fr;
} 
} 

@media (max-width: 600px) { 
    .location-links { 
        grid-template-columns: 1fr;
    }
}
 
.zillow-footer { 
    background: #fafafa;
    padding: 40px 80px;
    font-size: 14px;
    line-height: 1.6px;
    color: #555;
} 

.footer-nav { 
    color: #666;
    text-align: center;
    margin-bottom: 25px;
} 

.footer-text  { 
    margin-bottom: 20px;
    color: #444;
    text-align: center;
} 

.footer-legal p { 
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}  

.footer-legal a { 
    color: #0074e4;
    text-decoration: underline;
}



    
    

    /* ==  FOOTER BRANDING ======== 
    */ 

    .footer-branding { 
        max-width: 1100px; 
        margin: 28px auto;
        padding: 40px 80px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 20px;
    } 

    /* app button */ 
    .app-buttons { 
        display: flex;
        gap: 12px;
        align-items: center;
    } 
    .app-btn { 
        height: 42px;
        object-fit: contain;
        display: block;
    } 

    /* center Zillow logo */ 
    .footer-logo { 
        justify-self: center;
    } 
    .zillow-logo { 
        height: 44px; 
        object-fit: contain;
    }  

    /*right area: socails + copyright + equal housing */ 

    .footer-socail-row { 
        display: felx;
        align-items: center;
        gap: 14px;
        justify-self:  end;
        color: #555;
        font-size: 15px;
    } 

    .follow-label { 
        color: #666; 
        margin-right: 6px;
    } 
    .socail-icon a { 
        display: inline-block;
        margin: 0 6px;
        opacity: 0.95;
    } 
    .socail-icon img { 
        height: 28px;
        width: 28px;
        object-fit: contain;
    } 

    /* copyright text */ 

    .footer-copy { 
        color:#666;
        font-size:  15px;
        margin-left: 8px; 
        margin-right: 8px;
    } 
    /* equal housing */ 
    .equal-housing img { 
        display: block;
        filter: none;
    } 

    /* bottom illustration */ 

    .footer-illustration { 
        width: 100%;
        margin-top: 26px;
        background: #fff;
        text-align:center;
        padding-bottom: 10px;
    } 

    .houses-img { 
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 0 auto;
    } 

    /* tiny end legal */ 
    .footer-end { 
        border-top: 1px solid #e9e9e9;
        margin-top: 8px;
        padding: 14px 20px;
        text-align: center;
        color: #777; 
        font-size: 13px; 
        background: #fafafafa;
    } 


    /* reponsive adjustments */ 
    @media (max-width: 900px) { 
        .footer-branding { 
            grid-template-columns: 1fr;
            text-align: center;
        } 

    .footer-socail-row { 
        justify-content: center;
        margin-top: 12px;
    } 
    
    
}
  @media (max-width: 420px) { 
    .app-btn {height: 38px;} 
    .zillow-logo {height: 36px;} 
    .socail-icons img { height: 24px; width: 24px;}


  } 

  @media ( max-width: 768px) { 

  }

